.order-section{

    background: url(../../img/homepage_feature_module_img_full.jpg) no-repeat;
    background-size: cover;
}

.newsletter-block{

	.newsletter-background{
		background: url(../../img/newsletter_bg.jpg) no-repeat;
	    background-size: cover;
	    height: 214px;
	    /* padding: 29px; */
	    background-position: center, bottom;
    
	}
}

    