.footer{
	border-bottom: 6px solid $primary-color;

	.footer-nav{
	margin-top: 30px;

	a{
		color: #2b2b2b;
		font-weight: bold;
		transition: .3s all;
		&:hover{
			color: $primary-hover;
		}
	}
  .social-icons{
	display: flex;
    justify-content: center;
    flex-direction: row-reverse;
   
    .social-icon{
       margin-left: 15px;
       a{
       	color: $primary-color;
       	font-size: 26px;

       }
    }
}

.footer-nav-wrapper{
	li{
		margin-bottom: 10px;
	}
	@include media-breakpoint-up(sm){
		display: flex;
        justify-content: space-evenly;
        a{
        	
        	font-weight: normal;
        }
	}
}
}
}