body{
 text-align: center;
 color: $body-color;
}

ul{
	list-style: none;
}

a{
	&:hover{
		text-decoration: none !important;
	}
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: $primary-hover;
}

::selection {
    color: #fff; 
    background: $primary-hover;
}