header{
	

   .header-hero{
    background: url(../../img/homepage_hero_bg_fill_mobile.jpg);
    background-size: cover;
    height: 400px;
   	.cta-btn{ 
    	color: #fff;
    	background-color: $primary-color;
    }
   }
    
.logo{
	width: 125px;
}

}
